.searchbar {
  width: 700px;
  margin-top: 300px;
  height: 70px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  font-size: 20px;
  font-weight: 400;
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 80%;
  caret-color: white;
  line-height: 50px;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
  outline: none;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  outline: none;
}
